<html>
<head>
  <title><%- data.pageTitle %></title>
  <link rel='shortcut icon' type='image/png' href='/img/icon/favicon.png'>
  <% for (var i = 0; i < data.stylesheets.length; ++i) {%>
    <link rel='stylesheet' type='text/css' href='<%= data.stylesheets[i] %>'>
  <% } %>
</head>
<body>

  <a name='page-top'></a>

  <%= renderTemplate('/shared/header', data) %>

  <!-- content !-->
  <div id='content'>
    <%= renderTemplate(data.page, data.context) %>
  </div>
  
  <!-- footer !-->
  <script>window.session='<%= data.sessionStr %>';</script>
  <% for (var i = 0; i < data.scripts.length; ++i) {
    var script = data.scripts[i];
    switch (script.type) {
    case 'url':
      %><script src='<%= script.url %>'></script><%
      break;
    case 'code':
      %><script><%= script.code %></script><%
      break;
    default:
      throw new CError('INVALID_TYPE', 'unrecognized script type');
    }
  } %>

</body>
</html>
